<div class="section-title mt-5">7. Antecedentes Prenatales</div>

<div class="row mb-3">
  <div class="col-md-4">
    <label class="form-label">Enfermedades de la madre durante el embarazo</label>
    <input type="text" class="form-control" name="enfermedades_madre_embarazo">
  </div>
  <div class="col-md-4">
    <label class="form-label">Condiciones en la que se desarrolló el parto</label>
    <input type="text" class="form-control" name="condiciones_parto">
  </div>
  <div class="col-md-4">
    <label class="form-label">Edad de la madre para el parto (años)</label>
    <input type="number" class="form-control" name="edad_madre_parto">
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4">
    <label class="form-label">Peso del niño (kg)</label>
    <input type="text" class="form-control" name="peso_nino">
  </div>
  <div class="col-md-4">
    <label class="form-label">Talla del niño (cm)</label>
    <input type="text" class="form-control" name="talla_nino">
  </div>
</div>
            
<div class="section-title mt-5">Problemas que presento al nacer</div>

<div class="row mb-3">
  <div class="col-md-4">
    <label class="form-label">Edad en la que empezó a hablar (meses)</label>
    <input type="number" class="form-control" name="edad_hablar" min="0">
  </div>
  <div class="col-md-4">
    <label class="form-label">Edad en la que empezó a caminar (meses)</label>
    <input type="number" class="form-control" name="edad_caminar" min="0">
  </div>
  <div class="col-md-4">
    <label class="form-label">Mano que utiliza</label>
    <select class="form-select" name="mano_utiliza">
      <option value="">Seleccione</option>
      <option value="Derecha">Derecha</option>
      <option value="Izquierda">Izquierda</option>
    </select>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6">
    <label class="form-label">Enfermedades padecidas</label>
    <input type="text" class="form-control" name="enfermedades_padecidas">
  </div>
