            <div class="section-title">6. Antecedentes Médicos</div>
            
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label">Enfermedades durante el embarazo</label>
                    <input type="text" class="form-control" name="enfe_madreEm">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Peso al nacer (kg)</label>
                    <input type="text" class="form-control" name="peso_ninoNac">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Talla al nacer (cm)</label>
                    <input type="text" class="form-control" name="tall_ninoNac">
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label">Medios de control prenatal</label>
                    <input type="text" class="form-control" name="medi_contPre">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Edad al caminar (meses)</label>
                    <input type="number" class="form-control" name="edad_caminar">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Edad al hablar (meses)</label>
                    <input type="number" class="form-control" name="edad_nhablar">
                </div>
            </div>
            