<div id="sidebar">
    <div class="sidebar-logo mt-2" style="text-align:center; margin-bottom:20px;">
        <img src="<%= '../../assets/images/Logo.png' %>" alt="Logo" style="max-width: 50%; height: auto; border-radius: 20%;">
    </div>
    <ul class="list-unstyled">
        <li><a href="/datos" class="sidebar-link"><i class="bi bi-house"></i> Datos</a></li>
        <li><a href="/inscripcion" class="sidebar-link"><i class="bi bi-person-plus"></i> Inscripciones</a></li>
        <li><a href="/estudiantes" class="sidebar-link"><i class="bi bi-people"></i> Estudiantes</a></li>
        <li><a href="/representantes" class="sidebar-link"><i class="bi bi-person-vcard"></i> Representantes</a></li>
        <li><a href="/docentes" class="sidebar-link"><i class="bi bi-journal-text"></i> Docentes</a></li>
        <li><a href="/secciones" class="sidebar-link"><i class="bi bi-list-task"></i> Secciones</a></li>
        <li><a href="/colaboraciones" class="sidebar-link"><i class="bi bi-wallet"></i> Colaboraciones</a></li>
        
    </ul>
</div>