<div id="sidebar">
    <div class="sidebar-logo" style="text-align:center; margin-bottom:20px;">
        <img src="<%= '../../assets/images/Logo.png' %>" alt="Logo" style="max-width: 50%; height: auto;">
    </div>
    <ul class="list-unstyled">
        
        <li><a href="/inscripcion" class="sidebar-link"><i class="bi bi-person-plus"></i> Inscripciones</a></li>
        <li><a href="/estudiantes" class="sidebar-link"><i class="bi bi-people"></i> Estudiantes</a></li>
        <li><a href="#" class="sidebar-link"><i class="bi bi-person-vcard"></i> Representantes</a></li>
        <li><a href="#" class="sidebar-link"><i class="bi bi-journal-text"></i> Profesores</a></li>
        <li><a href="#" class="sidebar-link"><i class="bi bi-list-task"></i> Secciones</a></li>
        <li><a href="/donaciones" class="sidebar-link"><i class="bi bi-wallet"></i> Donaciones</a></li>
        
    </ul>
</div>