            <div class="section-title">2. Representante Legal</div>

<div class="row mb-3">
  <div class="col-md-3">
    <label class="form-label">Primer Nombre</label>
    <input type="text" class="form-control" name="rep_primer_nombr" required>
  </div>
  <div class="col-md-3">
    <label class="form-label">Segundo Nombre</label>
    <input type="text" class="form-control" name="rep_segundo_nomb">
  </div>
  <div class="col-md-3">
    <label class="form-label">Primer Apellido</label>
    <input type="text" class="form-control" name="rep_primer_apell" required>
  </div>
  <div class="col-md-3">
    <label class="form-label">Segundo Apellido</label>
    <input type="text" class="form-control" name="rep_segund_apell">
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-3">
    <label class="form-label">Parentesco</label>
    <input type="text" class="form-control" name="parentesco_r" required>
  </div>
  <div class="col-md-3">
    <label class="form-label">Cédula de Identidad</label>
    <input type="text" class="form-control" name="rep_cedula" required>
  </div>
  <div class="col-md-3">
    <label class="form-label">Edad</label>
    <input type="number" class="form-control" name="rep_edad" min="18" required>
  </div>
  <div class="col-md-3">
    <label class="form-label">Teléfono</label>
    <input type="text" class="form-control" name="rep_telefono" required>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6">
    <label class="form-label">Dirección de Habitación</label>
    <input type="text" class="form-control" name="rep_direccion" required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Correo Electrónico</label>
    <input type="email" class="form-control" name="rep_email" placeholder="******@gmail.com" required>
  </div>
</div>
            

            